.post-card-wrapper {
    padding: 1em;
    box-sizing: border-box;
    
    width: 100%;
    min-width: 350px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 5pt;

    background-color: var(--primary-color);

    box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.2);
}

.post-card-wrapper .avatar-wrapper {
    align-self: start;
}