.post-action-wrapper {
    position: relative;
    
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.post-action-icons {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 1em;
}

.post-action-icons span {
    cursor: pointer;

    color: var(--button-color);

    transition: 300ms;
}

.post-action-icons span:hover {
    color: var(--button-hover-color);
}


.post-action-icons span:active {
    color: var(--accent-color);
}

.post-action-submit {
    cursor: pointer;

    min-height: 40px;
    min-width: 100px;

    padding-block: 0.5em;
    padding-inline: 1.5em;

    border: none;
    border-radius: 100pt;

    background-color: var(--button-color);

    color: var(--button-text-color);
    font-weight: bold;

    transition: 300ms;
}

.post-action-submit:hover {
    background-color: var(--button-hover-color);
}

.post-action-submit:active {
    background-color: var(--accent-color);
}

.disabled, .disabled:hover, .disabled:active {
    color: var(--text-tertiary) !important;
}

.active {
    color: var(--accent-color) !important;
}