.post-form-wrapper {
    padding: 1em;
    box-sizing: border-box;

    width: 100%;
    min-width: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;

    border-radius: 5pt;

    background-color: var(--primary-color);

    box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.2);
}

.post-form-wrapper .avatar-wrapper {
    align-self: start;
}